@using FrontStore.Services
@using Microsoft.AspNetCore.Components.Authorization
@using Newtonsoft.Json
@inject NavigationManager navMan

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">




            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

                <Authorizing>
                    <p>Authentication in progress...</p>
                </Authorizing>

                <NotAuthorized>

                    @if (context.User.Identity.IsAuthenticated)
                    {
                        <p>You are not authorized to access this resource.</p>
                        <p>only Admins can access this page</p>
                    }
                    else
                    {
                        navMan.NavigateTo("login");
                    }


                </NotAuthorized>

            </AuthorizeRouteView>

        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>