 @using FrontStore.Services
@using Microsoft.AspNetCore.Components.Authorization

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="logo" width="40" height="40">
        </a>

        <CascadingAuthenticationState>


            <ul class="d-flex flex-row justify-content-between navbar-nav">

                <AuthorizeView>


                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="login">
                                <span aria-hidden="true"></span> Login
                            </NavLink>
                        </li>




                        <li class="nav-item">
                            <NavLink class="nav-link" href="register">
                                <span aria-hidden="true"></span> Register
                            </NavLink>
                        </li>



                    </NotAuthorized>

                    <Authorized>

                        <li class="nav-item">
                            <NavLink class="nav-link" href="Products">
                                <span aria-hidden="true"></span> Products
                            </NavLink>
                        </li>


                        <li class="nav-item">
                            <NavLink class="nav-link" href="categories">
                                <span aria-hidden="true"></span> Categories
                            </NavLink>
                        </li>

                        <li class="nav-item">

                            <Button Class="btn" onclick="@Logout">
                                <i class="fas fa-sign-out-alt"></i>
                            </Button>

                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>

        </CascadingAuthenticationState>
    </div>
</nav>

@code {

    [Inject]
    public IAuthService AuthService { get; set; }

    public async Task Logout()
    {
        await AuthService.SignOut();
    }
}