 @using FrontStore.Services
@using Microsoft.AspNetCore.Components.Authorization

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <CascadingAuthenticationState>


                <ul class="navbar-nav">

                    <AuthorizeView>


                        <NotAuthorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="login">
                                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                                </NavLink>
                            </li>




                            <li class="nav-item">
                                <NavLink class="nav-link" href="register">
                                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Register
                                </NavLink>
                            </li>



                        </NotAuthorized>

                        <Authorized>

                            <li class="nav-item">
                                <NavLink class="nav-link" href="Products">
                                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Products
                                </NavLink>
                            </li>


                            <li class="nav-item">
                                <NavLink class="nav-link" href="categories">
                                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Categories
                                </NavLink>
                            </li>

                            <li class="nav-item">

                                <Button Color="Color.Primary" class="btn btn-primary" onclick="@Logout">
                                    <i class="fas fa-sign-out-alt"></i> Logout
                                </Button>

                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>

            </CascadingAuthenticationState>
        </div>
    </div>
</nav>

@code {

    [Inject]
    public IAuthService AuthService { get; set; }

    public async Task Logout()
    {
        await AuthService.SignOut();
    }
}