i {
    font-size: 1.5em;
}

.fa-edit {
    color: #007bff;
    cursor: pointer;
}

.fa-trash {
    color: #dc3545;
    cursor: pointer;
}

.fa-edit:hover {
    color: #0056b3;
}

.fa-trash:hover {
    color: #bd2130;
}
